@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
}

body{
    background-color: lightgray;
}

h1{
    margin-top: 10px;
    text-align: center;
    font-family: "Fugaz One";
    font-size: 2rem;
}

h1 img{
    margin-right: 10px;
}

a{
    color: black;
    text-decoration: none;
}


#testdiv{
    margin-top: 10px;
    height: 500px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 15px;
    overflow: auto;
    scrollbar-color: black;
}

table{
    text-align: center;
}

table button{
    padding-top: 100px;
}

.searchbar{
    margin-left: auto;
    margin-right: auto;
}

.searchbar form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input[type=search]{
    width: 400px;
    height: 31px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
}

.searchbar button{
    border-radius: 10px;
}

.errormessage{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.errormessageform{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#trierdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;    
}

.addbutton{
    margin-left: 670px;
    margin-right: 670px;
    margin-top: 10px;
}

.addform input[type=text], .addform select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.addform input[type=mail], .addform select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.addform input[type=number], .addform select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.addform input[type=submit] {
width: 100%;
background-color: #04AA6D;
color: white;
padding: 4px 2px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

.addform input[type=submit]:hover {
background-color: #45a049;
}

.addform {
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
margin-left: 100px;
margin-right: 100px;
margin-top: 10px;
}

.addform p{
    text-align: center;
}


