@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
}

body{
    background-image: url("assets/background_accueil.jpg");
    background-size: 100%;
}

:root 
{
    --nws-red: #e94a34;
    --nws-blue: #00a5a5;
    --nws-yellow: #fec800;
}

h1{
    color: var(--nws-red);
}

#conteneur{
    padding: 100px;
    background-color: white;
    height: 350px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

input:focus {
    outline-color: rgba(0, 165, 165, .7)
}

#conteneur p{
    color: red;
    font-family: "Fira Sans";
    text-align: center;
}


form{
    margin-left: auto;
    margin-right: auto;
}

#nwslogo{
    margin-top: -50px;
}

.login input{
    padding: 1rem;
    width: 19rem;
    font-family: "Fira Sans";
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

#checkbox{
    display: inline-block;
    margin-bottom: 10px;
}

label{
    font-family: "Fira Sans";
    text-align: center;
    font-size: 80%;
}


.login-btn input{
    color: white;
    background-color: var(--nws-blue);
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 110%;
    padding: 0.8rem;
    border-radius: 10px;
    transition: .3s;
}

.login-btn input:hover{
    transform: scale(1.05);
}


.login-input-mail{
    margin-top: 60px;
}

@media (max-width: 768px) {
    body{
        padding: 2rem 0
    }
}
